@import "./vars.css";
.App { 
    background-color: var(--color-bg);
    max-width: 100%; /* Adjust to fit the container's width */
    width: auto; /* Allow the container to expand */
    overflow-x: hidden; /* Hide horizontal overflow */
    height: 100%;
  
}